/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main styling below */
html {
	box-sizing: border-box;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
	display: flex;
	width: 1000px;
	height: 1000px;
	align-items: center;
	margin: auto;
	background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(255, 255, 255, 0.400), 
      rgba(255, 255, 255, 0.400)
    ), url(back-img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: space-around;
}

.heading {
	display: flex;
	width: 60%;
	height: auto;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}

 .sign-up {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background-color: white;
	font-size: 1.25rem;
	margin: auto;
}

.header-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 20%;
	margin: 0 5px;
	
}

fieldset > div {
	display: flex;
	flex-direction: column;
	font-size: 1rem;;
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	row-gap: 5px;
	padding: 5px;
	box-shadow: 12px 12px 2px 1px #9900ff00;
}
form fieldset {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.submit {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}